html {
  scroll-snap-type: proximity;
  overflow-y: scroll;
  scroll-snap-points-y: repeat(450px);
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

section{
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
}

section:nth-of-type(1) {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
}

section i {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 100px;
  transform: translateX(-50%);
  transition: 0.5s;
  animation: bounce 1s infinite alternate;
}

section i:hover {
  color: #4cc9f0;
  filter: drop-shadow(0px 0px 30px #4cc9f0);
}

.fa-chevron-down:hover {
  filter: drop-shadow(5px 5px 30px #4cc9f0);
  text-shadow: 0px 0px 20px rgba(255, 165, 0, 0.75);
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
