img {
  height: 105px;
  width: 105px;
  margin-top: 30px;
}

.eye {
  border: 3px solid black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
}

.pupil {
  width: 130px;
  height: 130px;
  margin-left: 36px;
  margin-top: 70px;
}
