* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #b0e4e7;
  color: #5188ca;

  h1 {
    font-weight: 800;
  }

  p {
    font-weight: 300;
  }
}

#root {
  h1,
  p {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
  }

  h3 {
    position: absolute;
    top: 5%;
    left: 45%;
  }

  &.clicked {
    h1 {
      animation-name: twist-slow;
      animation-duration: 3s;
      animation-direction: normal;
      animation-iteration-count: infinite;
    }

    p {
      animation-name: twist;
      animation-duration: 2s;
      animation-direction: reverse;
      animation-iteration-count: infinite;
    }

    @keyframes twist {
      from {
        transform: translate(-50%, -50%) rotate(0deg);
      }

      to {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }

    @keyframes twist-slow {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }

      75% {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}
