* {
  box-sizing: border-box;
  margin: 0px;
}
#egy,
#ketto,
#harom,
#negy {
  height: 50vh;
  width: 50vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
