$breakpoint-ms: 320px;
$breakpoint-ml: 425px;
$breakpoint-sm: 576px;
//$breakpoint-tbl: 768px;
$breakpoint-head: 1282px; // head image width

// Owersion
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; // Light
}

header {
  position: relative;
  .image.header {
    z-index: -1;
  }

  > * {
    position: absolute;
  }
}

h1,
.content-1.text :first-child span {
  font-family: "Montserrat", sans-serif;
  font-weight: 900; // Black
}

.content-1.text :first-child {
  span {
    float: left;
    margin: 0.25em 0.1em 0;
    font-size: 4em;
    color: red;
  }
}

// h1 {
//   background-color: red;
//   color: white;
// }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800; // Extra-bold
  font-size: xx-large;
  color: red;
  margin-top: 2em;
}

img {
  //width: 100%;        /széttolta az ikonjaim
  height: auto;
}

.image {
  img {
    width: 100%;
  }
}

.page {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 0;
  grid-auto-rows: auto;
  border: 0.5em solid rgb(214, 214, 214);
  color: rgb(75, 75, 84);
}

.page > * {
  grid-column: col-start / span 12;
}

//----Ezt módisította Ower-------------------------------------------------------
.head {
  // nav átnevezve Moby
  grid-row: 1 / span 5; //W
  background-image: url("../img/mountains.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top center;
  overflow-y: visible;

  svg defs {
    #grad2,
    #grad3,
    #grad4 {
      display: none;
    }
  }
}

.logo {
  //background-color: red;
  grid-row: 2 / span 1;
  grid-column: 5 / span 4; //W
  margin: 8vw  3.5vw 3.5vw 3.5vw;
  //reszponzivitásnál a logo-t átrakni egy column-al kijjebb
  
}

nav {
  // .nav-real átnevezve Moby
  position: fixed;
  z-index: 2;
  top: 30px;
  display: flex;
  justify-content: space-between;
  height: 35px; // lehet, érdemesebb változóban megadni?
  width: 97.8vw;
  //background-color: red;
   img[alt="bts-logo"]{
     margin-left: 30px;
     width:  90px;
   }
   img[alt="burger-menu"]{
    //background-color: red;
    margin-right: 35px;
    width:  35px;
  }
   
}

.main-title {
  height: 7vh;
  margin: 0 3vw 2vh 3vw;
  //background-color: red;
  color: white;
  grid-column: 4 / span 6;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width:100%;
    min-width: 320px;
  }
}

.icons {
  grid-row: 4;
  grid-column: 5 / span 4;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-around;

  img {
    height: 7vh;
    margin-left:5px;
    margin-right:5px;
    
  }
}

//--------------------------------------------------------------

.icons {
  grid-row: 4;
}

.content-1 {
  grid-row: 5;

  &.col {
    &.left {
      position: relative;
      //background-color: green;
      grid-column: 1 / span 3;
      &.paragraph-starter {
        margin-top: 4.3em;
        position: absolute;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: flex-end;

        //background-color: red;
        img {
          height: 4em;
          margin-right: 1em;
        }
      }
    }
    &.middle {
      //background-color: greenyellow;
      grid-column: 4 / span 6; // Ower módosította
    }

    &.right {
      grid-column: 11 / span 2;
    }
  }
}

.image.picture-1 {
  grid-row: 6;
}

h2 {
  grid-row: 7;
  grid-column: 3 / span 5 !important;
}

.content-2 {
  grid-row: 8;

  &.col {
    &.left {
      grid-column: 1 / span 2;
      width: 50px;
    }
    &.middle {
      grid-column: 3 / span 8;
    }
    &.right {
      grid-column: 11 / span 2;
    }
  }
}

.tile-row.row-1 {
  grid-row: 9;
}
.tile-row.row-2 {
  grid-row: 10;
}
.tile-row.row-3 {
  grid-row: 11;
}
.tile-row.row-4 {
  grid-row: 12;
}

.content-3 {
  grid-row: 13;

  &.col {
    &.left {
      grid-column: 1 / span 2;
    }
    &.middle {
      grid-column: 3 / span 8;
    }
    &.right {
      grid-column: 11 / span 2;
    }
  }
}

.image.picture-2 {
  grid-row: 14;
  padding-bottom: 2em;
}

.image-caption {
  padding: 1rem 0 1rem 1rem;
  color: rgb(149, 149, 149);
}

.text {
  line-height: 2em;

  p {
    margin-top: 4em;
    margin-bottom: 4em;
  }
}

@media screen and (min-width: $breakpoint-head) {
  .head  {
    background-size: cover;
  }
}


@media screen and (max-width: $breakpoint-sm) {
  .head svg defs {
    #grad1, #grad3, #grad4 {
      display: none;
    }
    #grad2 {
      display: initial;
    }
  }
}

@media screen and (max-width: $breakpoint-ml) {
  .head svg defs {
    #grad1, #grad2, #grad4 {
      display: none;
    }
    #grad3 {
      display: initial;
    }
  }
}

@media screen and (max-width: $breakpoint-ms) {
  .head svg defs {
    #grad1, #grad2, #grad3 {
      display: none;
    }
    #grad4 {
      display: initial;
    }
  }
}
